.container {
	display: grid;
	grid-template-rows: 1fr repeat(2, 0.5fr);
}

.icon {
	font-size: 32px;
	color: #623ebd;
	transition: all 0.4s ease-in-out;
}

.icon:hover {
	transform: scale(1.2);
}

.smallIcon {
	font-size: 16px;
	color: #623ebd;
}

.verticalLinks {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	align-items: center;
}
.horizontalLinks {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	justify-items: center;
	align-items: center;
}
.horizontalLinks p {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.title {
	color: #ea860b;
	font-size: 24px;
	letter-spacing: 2px;
}

a {
	text-decoration: none;
	color: #fafdf6;
}

span {
	margin-left: 0.5rem;
}

@keyframes scaleAnimation {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
