.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.avatar {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	filter: grayscale(0.2);
	border: 12px solid #d36510;
	animation: scaleAnimation 1.2s ease-in-out alternate;
}

.info {
	text-align: center;
}
.info div {
	animation: scaleAnimation 1s ease-in-out alternate;
}

.info h2 {
	color: #ea860b;
	animation: scaleAnimation 1.8s ease-in-out alternate;
}

.info h3 {
	color: #ea860b;
	animation: scaleAnimation 1.8s ease-in-out alternate;
}

.descriiption {
	font-family: "Monseratt";
	font-size: 24px;
	letter-spacing: 1.2px;
	line-height: 1.2px;
}

@keyframes scaleAnimation {
	0% {
		transform: translateY(-180%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
