.container {
	background-color: #ea860b;
	opacity: 0.9;
	animation: scaleAnimation 1.8s ease-in-out alternate;
}

.title {
	font-size: 32px;
	color: hsl(257, 51%, 49%);
	text-align: center;
}

.cards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 1rem;
	margin-top: -1rem;
}

.card {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

ul {
	list-style: none;
}

@keyframes scaleAnimation {
	0% {
		transform: translateY(180%);
		opacity: 0;
	}
	50% {
		transform: translateY(-20%);
		opacity: 0.5;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
