nav {
	width: 100%;
	background-color: transparent;
	position: fixed;
	top: 0;
	z-index: 20;
}

nav ul {
	width: 88%;
	height: 3.5rem;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	padding: 0;
}

nav li {
	margin-left: 1.5rem;
	font-size: 1.25rem;
}

li a {
	text-decoration: none;
	padding: 8px;
	overflow: hidden;
	content: attr(alt);
	transition: all 0.3s ease-in-out;
	opacity: 0.5;
	color: #fafdf6;
	letter-spacing: 2px;
}

li a:hover {
	letter-spacing: 1.2px;
	opacity: 1;
	color: #ea860b;
}
.active {
	letter-spacing: 1.2px;
	opacity: 1;
	color: #ea860b;
	text-decoration: none;
}

.notHomePage {
	background-color: #3b1b8b;
}
