.profile {
}

.avatar {
	width: 300px;
	height: 300px;
	clip-path: polygon(100% 0, 100% 29%, 35% 100%, 0 100%, 0 0);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.position {
}

.description {
}

.references {
}

.reference {
}

.languages {
}

.language {
}

.interests {
}

.interest {
}

.personalSkills {
}

.personalSkill {
}

.technicalSkills {
}

.technicalSkill {
}
