@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,400;1,500&family=Playfair+Display:wght@500;600&family=Titillium+Web:wght@300;400;700&display=swap");
body {
	margin: 0;
	font-family: "Playfair Display", "Titillium Web", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #3b1b8b;
	color: #fafdf6;
	font-size: 16px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.container {
	margin: 4rem auto;
	background-color: #623ebd;
	width: 80%;
	height: 100%;
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.title {
	font-size: 32px;
	color: #ea860b;
	text-align: center;
	padding: 0;
	margin: 0;
}

.buttons {
	display: flex;
	justify-content: space-evenly;
	padding: 2rem;
}

.info {
	text-align: center;
}

.cards {
	padding: 1rem;
	padding-top: 1.5em;
	border-radius: 8px;
	background-color: #3b1b8b;
}
.dots {
	position: relative;
}

.dot {
	width: 8px;
	height: 8px;
	background-color: white;
	position: absolute;
	z-index: 10;
	border-radius: 50%;
}
.dot:nth-child(1) {
	top: -15px;
	left: 12px;
}
.dot:nth-child(2) {
	top: -15px;
	left: 0;
}
.dot:nth-child(3) {
	top: -15px;
	left: 24px;
}
