.box {
	width: 100vw;
	height: 100vh;
	position: relative;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	margin: auto;
	box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
	background-color: #613dbd;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	margin-top: 3rem;
}
