.box {
	width: 100vw;
	height: 100vh;
	position: relative;
}

.container {
	width: 100%;
	margin: auto;
	margin-top: 3rem;
}

.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
	visibility: visible;
	-webkit-animation: cd-bounce-1 0.6s;
	animation: cd-bounce-1 0.6s;
}
.vertical-timeline-element-icon {
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
}
.vertical-timeline-element-icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgb(0 0 0 / 8%),
		0 3px 0 4px rgb(0 0 0 / 5%);
	box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgb(0 0 0 / 8%),
		0 3px 0 4px rgb(0 0 0 / 5%);
}
.vertical-timeline * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

span {
	margin-left: 0.5rem;
}
body {
	margin: 0;
	font-family: "Playfair Display", "Titillium Web", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #3b1b8b;
	color: #fafdf6;
	font-size: 16px;
}
