.box {
	width: 100vw;
	height: 100vh;
	position: relative;
}

.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 80%;
	display: grid;
	grid-template-rows: 2.5fr 0.8fr;
	margin: auto;
	box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background-color: hsl(257, 51%, 49%);
}

.left {
	padding: 2rem;
}
.right {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.techSkills {
	background-color: #1f0a54;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	padding: 1rem;
	cursor: pointer;
	animation: scaleAnimation 0.8s ease-in-out alternate;
}

.techSkills:hover .text {
	opacity: 0.7;
}

.personalSkills {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 1rem;
	cursor: pointer;
	background-color: #623ebd;
	animation: scaleAnimation 0.8s ease-in-out alternate;
}

.personalSkills:hover .text {
	opacity: 0.7;
}

.smallCards {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.interests {
	background-color: #4f3396;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 1rem;
	cursor: pointer;
	animation: scaleAnimation 1.6s ease-in-out alternate;
}

.interests:hover .text {
	opacity: 0.7;
}

.languages {
	background-color: #1f0a54;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	padding: 1rem;
	cursor: pointer;
	animation: scaleAnimation 1.4s ease-in-out alternate;
}

.languages:hover .text {
	opacity: 0.7;
}

.socials {
	background-color: #3b1b8b;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	cursor: pointer;
	animation: scaleAnimation 1s ease-in-out alternate;
}
.title {
	color: #ea860b;
	font-size: 24px;
	letter-spacing: 2px;
}

.text {
	text-align: center;
	letter-spacing: 1.2px;
	font-size: 20px;
	opacity: 0.7;
	font-family: "Monseratt";
	opacity: 0;
	transition: all 0.5s ease-out;
}

.footer {
	background-color: #ea860b;
	opacity: 0.9;
}

@keyframes scaleAnimation {
	0% {
		transform: translateX(180%);
		opacity: 0.5;
	}
	100% {
		transform: transformX(360%);
		opacity: 1;
	}
}

@media only screen and (max-width: 768px) {
	.wrapper {
		width: 100%;
	}
}

@media only screen and (max-width: 550px) {
	.container {
		display: flex;
		flex-direction: column;
	}
}
